# -*- mode: Conf; -*-

####################################################################################################

*~
du.log

####################################################################################################

build/
node_modules/
package-lock.json
yarn.lock
yarn-error.log

####################################################################################################

src/__TRASH__/